* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #fff;
	color: #fff;
	min-height:100vh;
	display: flex; 
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 25px;
	font-family: "Source Code Pro", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
/* creativeSTH Copy */
.copy{
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: center;
	align-items: center;
	img{
		width: 200px;
	}
	& h1{
		color: black;
		text-align: center;
	}
	& p{
		text-align: center;
		color: #c798fd;
	}
}
.content_principal { 
	display: flex;
	flex-direction: column;
	gap: 5px;
	 
	/* Header */
	.content_header {
		/* border: solid 1px salmon; */
		display: flex;
		flex-wrap: wrap;
		gap: 5px;
		.box_header {
			display: flex;
			justify-content: space-between;
			border-radius: 10px;
			flex-direction: column;
			padding: 10px;
			height: 150px;

			&:nth-child(1) {
				justify-content: center;
				align-items: center;
				color: white;
				background-image: url('./../img/img3.webp');
				background-position: center;
				background-size: cover;
				font-size: 2rem;
				 flex: 1 1 300px; 
			}
			&:nth-child(2) {
				justify-content: center;
				align-items: center;
				background-color: #97DF5F;
				color: #000;
				flex: 1 1 300px;
			}
		}
	}
	/* Main */
	.content_main {
		/* border: 1px solid salmon; */
		display: flex;
		flex-wrap: wrap;
		gap: 5px;
		/* main menu*/
		.content_main-menu {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;
			gap: 5px;
			flex: 1 1 700px;
			.box_menu {
				display: flex;
				justify-content: space-between;
				border-radius: 10px;
				flex-direction: column;
				padding: 10px;
				height: 150px;

				& .pad {
					background:#c798fd;
					padding: 5px 25px;
					border-radius: 10px;
				}
				& .pad-p{
					background-color: #97DF5F;
					width: 100%;
					text-align: center;
					color: #000;
					border-radius: 5px;
				}
				&:nth-child(1) {
					background-color: #B97EFC;
					flex: 2 1 250px;
				}
				&:nth-child(2) {
					justify-content: center;
					align-items: center;
					background-image: url('./../img/img2.webp');
					background-position: center;
					background-size: cover;
					flex: 2 1 250px;
				}
				&:nth-child(3) {
					background-color: #ffb200;
					flex: 2 1 250px;
				}
				&:nth-child(4) {
					justify-content: center;
					align-items: center;
					background-image: url('./../img/img2.webp');
					background-position: center;
					background-size: cover;
					flex: 2 1 250px;
				}
				&:nth-child(5) {
					background-color: #ff71cf;
					flex: 2 1 250px;
				}
				&:nth-child(6) {
					justify-content: center;
					align-items: center;
					background-image: url('./../img/img1.webp');
					background-position: center;
					background-size: cover;
					flex: 2 1 250px;
				}
			}
			
		}
		/* main sidebar */
		.content_siderbar {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: 15px;
			flex: 1 1 300px;
			background-image: url('../img/img3.webp');
			background-position: center;
			background-size: cover;
			border-radius: 10px;
			color: white;
			font-size: 2rem;
		}
	}
	/* opacity */
	.box_header,
	.box_menu,
	.content_siderbar {
		&:hover {
			opacity: 0.8;
		}
	}
}
